body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#menu-bar {
    width: 330px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px gray;
}

#content {
    flex-grow: 1;
    padding-left: 150px;
    padding-right: 150px;
    margin-right: 400px;
    box-shadow: 5px 5px 5px gray;
}

#storys-container {
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 50px;
    border: 2px solid gray;
    border-radius: 15px;

}

#logo-container {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.post-container {
    height: 600px;
    background: cyan;
}

#logo-container img {
    max-height: 100%;
}

#link-container {
    flex-grow: 1;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}
a img {
    height: 1em;
    width: auto;
    object-fit: cover;
}

div .link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: xx-large;
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.story-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.story-profile-name {
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden;    /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis if text is cut off */
    width: 100%;        /* Ensure the div takes up the full width of its parent */
    text-align: center; /* Optional: Center the text horizontally */
    font-weight: 600;
}
.story-container img {
    margin-top: 10px;
    width: 80%; /* Ensures the image covers the width of the container */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid yellow;

}